.elementor-widget-togo-topbar-carousel {
  .swiper-slide {
    font-size: 12px;
    font-weight: 500;
    padding: 0 40px;
  }
}
.topbar-swiper-wrapper {
  position: relative;
  padding: 12px 0;
  background-color: var(--togo-text-color-02);
  .togo-swiper-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    z-index: 99;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    color: #ffffff;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.togo-swiper-widget {
  position: relative;
}
